body {

.btn-primary {

  color: #fff;
  background-color:rgba(163, 195, 8, 0.31);
  border-color: #f57c12;
}

.btn-lg {

  padding: 5px 5px;
  font-size: 14px;
  line-height: 1.3333333;
  border-radius: 10px;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;

}  

.headline {

  color: #9933FF;
  font-family: 'Brush Script MT';
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  text-shadow: -1px 0 White, 0 1px White, 1px 0 White, 0 -1px White;

}
.jumbotron {

  background: url(./images/sfondo.jpg);
  background-size: cover;
  min-height: 850px;
  padding: 20px;

}

.navbar-brand {
  background: url(./images/logo.png) no-repeat;
  width: 90px;

}

.navbar-default{

  background: transparent;
  border-color: transparent;

}    

.navbar-default .navbar-nav>li>a {

  color: #fff;
  font-family: 'verdana';
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;

}

.pisano-form textarea {

  height: 219px;
} 

.row pisano-form>.col-lg-12 {

  padding: 50px 0 50px 0;
}

.row pisano-form {

  padding: 0px 10% 100px 10%;
}

@media (max-width:768px) {

  .headline {
    color: #9933FF;
    font-family: 'Brush Script MT';
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    text-shadow: -1px 0 White, 0 1px White, 1px 0 White, 0 -1px White;
  }

  .navbar-default .navbar-collapse {

    background: rgba(0,0,0, 0.2);
    border-color: transparent;
  }

  .navbar-default .navbar-nav>li>a {

    color: #FFBF18;
    font-family: 'Arial', serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;

  }

}

}
